.questionInputContainer {
  height: 120px;
  position: absolute;
  left: 6.5%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  background: #ffffff;
  box-shadow:
    0px 8px 16px rgba(0, 0, 0, 0.14),
    0px 0px 2px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
}

.questionInputTextArea {
  width: 100%;
  line-height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 12px;
  margin-right: 12px;
}

.buttonStack {
  justify-content: space-between;
  padding: 1rem;
}

.questionInputSendButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.questionInputSendButton {
  width: 28px;
  height: 28px;
}

.voiceRecordingButton {
  background: none;
  border: none;
}

.voiceRecordingButton:disabled {
  opacity: 0.2;
}

.active {
  color: #6aa6cf;
  animation: pulse 2s infinite ease-in-out;
}

.inactive {
  color: #1b1b1b;
}

.voiceRecordingButton > svg {
  width: 32px;
  height: 32px;
}

.questionInputSendButtonDisabled {
  /* opacity: 0.4; */
  width: 28px;
  height: 28px;
  background: none;
  color: #424242;
}

.questionInputBottomBorder {
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0%;
  bottom: 0%;
  background: #6aa6cf;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.questionInputOptionsButton {
  cursor: pointer;
  width: 27px;
  height: 30px;
}

@media (max-width: 480px) {
  .questionInputContainer {
    left: 16.5%;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.7;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
